// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl

spawn-at-startup "/d/scripts/startup.sh"

input {
    keyboard { xkb { layout "pl"; }; }

    touchpad {
        // tap
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // tap-button-map "left-middle-right"
    }

    mouse {
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    tablet {
        // Set the name of the output (see below) which the tablet will map to.
        // If this is unset or the output doesn't exist, the tablet maps to one of the
        // existing outputs.
        map-to-output "eDP-1"
    }

    // By default, niri will take over the power button to make it sleep
    // instead of power off.
    // Uncomment this if you would like to configure the power button elsewhere
    // (i.e. logind.conf).
    disable-power-key-handling
}

output "eDP-1" {
    scale 1.0
    position x=1280 y=0
    transform "normal"
}

output "HDMI-A-1" {
  scale 1.0
  position x=0 y=0
  transform "normal"
}

layout {
    focus-ring {
      width 4
      active-color "#cccccc"
      inactive-color 0 0 0 0
    }
    gaps 30

    border {
        off
        width 3
        active-color 150 0 150 255
        inactive-color 0 0 0 255
    }

    preset-column-widths {
        proportion 0.25
        proportion 0.5
        // fixed 1920
    }

    default-column-width {
      proportion 0.5;
    }

    struts {
      left 0
      right 0
      top 0
      bottom 0
    }

    // never, always, on-overflow
    center-focused-column "never"
}

window-rule {
  match app-id="wezterm"
  default-column-width {}
}

cursor {
    xcursor-theme "default"
    xcursor-size 1
}

prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
screenshot-path null

hotkey-overlay {
     skip-at-startup
}

binds {
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.

    Mod+Tab { focus-workspace-previous; }
    Mod+q { quit; }
    Mod+Shift+q { spawn "systemctl" "hibernate"; }
    Mod+w { spawn "/f/msg" "cmd menu"; }
    Mod+e { spawn "wofi" "--show" "drun" "-G" "-M" "fuzzy"; }
    Mod+Shift+e { spawn "footclient" "wofi" "--show" "run" "-G" "-M" "fuzzy"; }
    Mod+r { switch-preset-column-width; }
    Mod+Shift+r { spawn "sh" "-c" "nmcli d wifi rescan && notify-send 'Scanning for wifi...' -t 1000"; }
    // t

    Mod+y { spawn "sh" "-c" "mpv \"$(wl-paste)\" --pause --ytdl-format=22 --resume-playback || notify-send 'Failed to open mpv!' -t 1000"; }
    Mod+shift+y { spawn "sh" "-c" "mpv '$(wl-paste)' --pause --save-position-on-quit --resume-playback"; }
    Mod+u { spawn "brightnessctl" "set" "5%-"; }
    Mod+Shift+u { spawn "brightnessctl" "set" "+5%"; }
    Mod+i { spawn "pulsemixer" "--change-volume" "-5"; }
    Mod+Shift+i { spawn "pulsemixer" "--change-volume" "+5"; }
    Mod+o { spawn "/f/msg" "file menu"; }
    Mod+shift+o { spawn "footclient" "-N" "broot" "/f/" "--conf" "/f/broot.toml"; }
    Mod+P { spawn "swaylock" "-c" "000000" "--inside-color" "000000" "--key-hl-color" "EEEEEE" "--line-color" "000000" "--ring-color" "000000"; }
    Mod+Shift+P { power-off-monitors; }

    Mod+a { spawn "brave" "--enable-features=UseOzonePlatform" "--ozone-platform=wayland" "--gtk-version=4" "--enable-wayland-ime"; }
    Mod+Shift+a { spawn "nu" "/f/qt.nu"; }
    Mod+s  { consume-window-into-column; }
    Mod+Shift+s { expel-window-from-column; }
    Mod+d { spawn "footclient"; }
    Mod+Shift+d { spawn "foot"; }
    Mod+f { close-window; }
    Mod+g { maximize-column; }
    Mod+Shift+g { fullscreen-window; }

    Mod+h        { focus-workspace-up; }
    Mod+Shift+h   { move-column-to-workspace-up; }
    Mod+j { focus-column-right; }
    Mod+Shift+j { move-column-right; }
    Mod+k  { focus-column-left; }
    Mod+Shift+k  { move-column-left; }
    Mod+l      { focus-workspace-down; }
    Mod+Shift+l { move-column-to-workspace-down; }
    Mod+semicolon { spawn "nu" "/d/scripts/ime-switch.nu"; }
    Mod+shift+semicolon { spawn "nu" "/d/scripts/ime-menu.nu"; }

    Mod+c { center-column; }
    Mod+Shift+c { spawn "foot" "nu" "/d/scripts/copy-password.nu"; }
    Mod+n { spawn "footclient" "nvim" "/n/today.md" "+cd /n"; }
    Mod+slash { spawn "makoctl" "dismiss" "-a"; }
    Mod+Shift+slash { spawn "makoctl" "invoke"; }
    Mod+Space { spawn "playerctl" "play-pause"; }


    Mod+Ctrl+h         { move-workspace-up; }
    Mod+Ctrl+l         { move-workspace-down; }
    Mod+Ctrl+j         { focus-window-down; }
    Mod+Ctrl+k         { focus-window-up; }

    Mod+Alt+j   { move-window-down; }
    Mod+Alt+k   { move-window-up; }

    Mod+Shift+Ctrl+j  { move-window-to-monitor-right; }
    Mod+Shift+Ctrl+k { move-window-to-monitor-left; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    // Brightness
    // Mod+u { spawn "/f/msg" "brightness dec"; }
    // Mod+Shift+u { spawn "/f/msg" "brightness inc"; }

    // Print { screenshot; }
    // Ctrl+Print { screenshot-screen; }
    // Alt+Print { screenshot-window; }
    // Mod+Shift+Ctrl+T { toggle-debug-tint; }

    // Alt+g { focus-column-first; }
    // Alt+G  { focus-column-last; }
    // Mod+Ctrl+Home { move-column-to-first; }
    // Mod+Ctrl+End  { move-column-to-last; }
}
